.DS_Store
node_modules
/dist
/threejs-3dmodel-edit
yarn
/tests/e2e/videos/
/tests/e2e/screenshots/


# local env files
.env
.env.local
.env.*.local

# 模型文件存储目录
files/
temp-chunks/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-lock.yaml*
logs/
*.log

# 自动化批量打标相关
.server.pid
.frontend.pid
automation/*.pid
/tmp/chrome-batch-labeling

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.lock